<h1>Repeated Word Counter</h1>

<form action="/results" method="post">
  <label for="user-string">Enter a Sentence</label>
  <input id="user-string" name="user-string" type="text">
  <label for="find-word">Enter the Word You Want to Find</label>
  <input id="find-word" name="find-word" type="text">
  <button type="submit">Find Your Word!</button>
</form>
