@{
Layout="Shared/_Layout.cshtml";
}

<div class="container">
<div class="jumbotron">
<h1>Results</h1>
</div>

<h2>Your word shows up @Model times in the text!</h2>

<form action="/new" method="post">
  <button type="submit">Start Again!</button>
</form>
</div>
